[submodule "vendor/libtiff"]
	path = vendor/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
	branch = v4.7.0

[submodule "tests/images/exampletiffs"]
	path = tests/images/exampletiffs
	url = https://github.com/jeremy-lao/exampletiffs.git

[submodule "tests/images/libtiff-pics"]
	path = tests/images/libtiff-pics
	url = https://github.com/ImageMagick/libtiff-pics.git

[submodule "tests/images/image-tiff"]
	path = tests/images/image-tiff
	url = https://github.com/image-rs/image-tiff.git
